* {
margin: 0 px;
padding: 0 px;
text-align: center;
font-weight: bold;
}

div.container {
background-image: url("images/painted-ground-.jpg");
background-repeat: repeat;
background-attatch: fixed;
colour: black;
font-family: Nexa;
width:100%;
}

div.t {
	text-align: left;
	padding: 2 px;
empty-cells: hide;
margin-left: auto;
margin-right: auto;
}

div.extras {
	text-align: center;
font-weight: bold;
}


img {
    border-radius: 50%;
  }

p {
border: 0 px;


}


td {
  height: 50px;
  vertical-align: bottom;
}

list {
list-style-type: disc;
list-style-postion: inside;
}


