* {
margin: 0 px;
padding: 0 px;
    colour: black;
font-family: NexaBold;
    text-align: center;
    font-weight: bold;
}

body {
background-image: url("images/painted-ground-.jpg");
background-repeat: no-repeat;
background-attatch: fixed;

}

img {
    border-radius: 50%;
  }

p {
border: 0 px;
}

table.one {
padding: 5 px;
empty-cells: hide;
}

list {
list-style-type: disc;
list-style-postion: inside;
}


